.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    padding-top: 3rem;
    h1, p{
        width: 100%;
        margin: 0.5rem auto;
    } 
    &__img{
        position: absolute;
        top: -10%;
    }
}
@include media-lg{
 .home{
     h1,p{
         margin: 0.8rem auto;
     }
 }
}