.statistics{
    text-align: center;
    &-item{
        margin: 0.5rem auto;
        span{
            font-size: 2rem;
        }
        p{
            margin: 0.5rem auto;
        }
        
    }
    hr{
        background-color: #fff;
        color: #fff;
        height: 1px;
        width: 30%;
        margin: 20px auto;
        border:0;
        border-bottom: 1px rgba($dark-gray, 0.3) solid ;
    }
    &-counter{
        width: 100%;
        height: .7rem;
        background-color: rgba($dark-gray, 0.1);
        border-radius: 50px;
        margin: 1.5rem auto 0.5rem;
        &__full{
            width: 75%;
            height: 100%;
            border-radius: 50px;
            background-color: $moderate-cyan;
        }
    }

}
@include media-lg{
    .statistics{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        hr{
            width: 1px;
            height: 50px;
            display: inline-block;
            border-left: 1px rgba($dark-gray, 0.3) solid ;
        }
    }
}