@import './responsive', './config', './menu', './home', './statistics', './about', './modal';

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

header {

    height: 37vh;
    background:
        linear-gradient(rgba($black, 0.5), transparent),
        url('../img/image-hero-mobile.jpg');
    background-size: cover;

    .header-container {

        .logo {
            position: absolute;
            z-index: 2;
            top: 2.5rem;
            left: 1.5rem;
        }
    }

}

main {
    position: relative;
}

section {
    width: 85%;
    margin: 1.5rem auto;
    padding: 2rem 1.5rem;
    background-color: #fff;
    border: 1px solid rgba($dark-gray, 0.1);
    border-radius: 10px;
    position: relative;
    top: -5rem;
}

h1 {
    font-size: 1.275rem;
    line-height: 1.6rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 0.9rem;
}

p {
    font-size: 0.85rem;
    line-height: 1.6rem;
    color: $dark-gray;
}

.btn {
    border-radius: 50px;
    padding: 1.2rem;
    text-align: center;
    cursor: pointer;
    @include transition-ease;
}

.btn-group {
    margin: 1rem 0 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.btn-primary {
    background-color: $moderate-cyan;
    color: #fff;
    font-weight: 700;
    width: 70%;

    &:hover {
        background-color: $dark-cyan;
    }
    

}

.btn-bookmark {
    background-color: rgba($color: $black, $alpha: .8);
    color: lighten($dark-gray, 20%);
    width: 3.6rem;

    span {
        display: none;
    }
    &.true{
        background-color: $dark-cyan;
        color: #fff;
    }

}

@include media-lg {
    header {
        height: 50vh;
        background:
            linear-gradient(rgba($black, 0.3), transparent),
            url('../img/image-hero-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        .header-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            padding: 2.5rem 0;
            .logo{
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }

   

    section {
        width: 50%;
        top:-8rem;
        padding:2rem 3rem;
    }
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.3rem;
    }
    p{
        font-size: 1rem;
    }
    .btn{
        padding: 1rem;
    }
}
@include media-md{
    .btn-primary{
        width: 40%;
    }
    .btn-bookmark{
        width: 35%;
        padding: unset;
        background-color: lighten($dark-gray, 45%);
        color: $dark-gray;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        i{
            padding: 1.2rem 1.4rem;
            background-color: rgba($color: $black, $alpha: .8);
            color: lighten($dark-gray, 45%);
            border-radius: 50px;
            @include transition-ease;
        }
        span{
            display: inline-block;
            margin: auto;
        }
        &.true{
            background-color: lighten($dark-gray, 45%);
               span{
                   color: $dark-cyan;
               };
               i{
                background-color: $dark-cyan;
                color: #fff;
               }
            
        }
    }

 
}