@import './responsive', './config', './menu', './home', './statistics', './about';

.attribution { 
    font-size: 11px; 
    text-align: center;
    a { 
        color: hsl(228, 45%, 44%); 
    } 
}
header{
    
    height: 37vh;
    background: 
    linear-gradient( rgba($black, 0.5), transparent),
    url('../img/image-hero-mobile.jpg');
    background-size:contain;

    .header-container{
       
        .logo{
            position: absolute;
            z-index: 2;
            top:2.5rem;
            left: 1.5rem;
        } 
    }

}
main{
    position: relative; 
}
section{
    width: 85%;
    margin: 1.5rem auto;
    padding: 2rem 1.5rem;
    background-color: #fff;
    border: 1px solid rgba($dark-gray, 0.1);
    border-radius: 10px;
    position: relative;
    top: -5rem;
}
h1{
 font-size: 1.275rem;
 line-height: 1.6rem;
}
h2{
    font-size: 1.1rem;
}
h3{
    font-size: 0.9rem;
}
p{
    font-size: 0.85rem;
    line-height: 1.6rem;
    color: $dark-gray;
}
.btn{
    border-radius: 50px;
    padding: 1.2rem;
    text-align: center;
    cursor: pointer;
    @include transition-ease;
}
.btn-group{
    margin: 1rem 0 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.btn-primary{
    background-color: $moderate-cyan;
    color: #fff;
    font-weight: 700;
    width: 70%;
    &:hover{
        background-color: $dark-cyan;
    }
    
}
.btn-bookmark{
    background-color: rgba($color: $black, $alpha: .8);
    color: lighten($dark-gray, 20%);
    width: 3.6rem;
    span{
        display: none;
    }

}